/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  /*width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: visible !important; */
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  width: 100%;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

@charset "UTF-8";
/**
  Slider
*/
/*=================================
  Previous and Next icon buttons
==================================*/
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  height: 30px;
  width: 30px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  border: none;
  transform: translate(0, -50%);
}
.slick-prev:hover .slick-prev-icon,
.slick-next:hover .slick-prev-icon,
.slick-prev:focus .slick-prev-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:hover .slick-next-icon,
.slick-next:hover .slick-next-icon,
.slick-prev:focus .slick-next-icon,
.slick-next:focus .slick-next-icon {
  opacity: 1;
}
.slick-prev:focus,
.slick-next:focus {
  top: calc(50% - 1px);
}
.slick-prev:focus .slick-prev-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-next:focus .slick-next-icon {
  color: orange;
  font-size: 28px;
  margin-left: -2px;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  cursor: default;
}
.slick-prev.slick-disabled .slick-prev-icon,
.slick-next.slick-disabled .slick-prev-icon,
.slick-prev.slick-disabled .slick-next-icon,
.slick-next.slick-disabled .slick-next-icon {
  opacity: 0.25;
}
.slick-prev .slick-prev-icon,
.slick-next .slick-prev-icon,
.slick-prev .slick-next-icon,
.slick-next .slick-next-icon {
  display: block;
  color: #000000;
  opacity: 0.75;
  font-size: 24px;
  line-height: 1;
}
.slick-prev {
  left: 25px;
  z-index: 2;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: 25px;
}
.slick-prev .slick-prev-icon:before {
  content: "";
  background: url(../images/arrow-left.png) center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
[dir="rtl"] .slick-prev .slick-prev-icon:before {
  content: "";
  background: url(../images/arrow-right.png) center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slick-next {
  right: 25px;
  z-index: 2;
}
[dir="rtl"] .slick-next {
  left: 25px;
  right: auto;
}
.slick-next .slick-next-icon:before {
  content: "";
  background: url(../images/arrow-right.png) center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
[dir="rtl"] .slick-next .slick-next-icon:before {
  content: "";
  background: url(../images/arrow-left.png) center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*==========================
  Slide navigation dots
===========================*/
.slick-slider {
  margin-bottom: 30px;
}
.slick-slider.slick-dotted {
  margin-bottom: 60px;
}
.dots-inside .slick-dots {
  bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -30px;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}
.slick-dots li button {
  display: block;
  height: 20px;
  width: 20px;
  margin-top: -4px;
  margin-left: -4px;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.slick-dots li button:hover .slick-dot-icon,
.slick-dots li button:focus .slick-dot-icon {
  opacity: 1;
}
.slick-dots li button:focus .slick-dot-icon:before {
  color: orange;
}
.slick-dots li button .slick-dot-icon {
  color: #000000;
  opacity: 0.25;
}
.slick-dots li button .slick-dot-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  font-size: 45px;
  line-height: 1;
  text-align: center;
  transition: all .05s linear;
}
.slick-dots li.slick-active button:focus .slick-dot-icon {
  color: orange;
  opacity: 1;
}
.slick-dots li.slick-active button .slick-dot-icon {
  color: #000000;
  opacity: 1;
}
.slick-dots li.slick-active button .slick-dot-icon:before {
  margin-top: -3px;
  margin-left: -2px;
  font-size: 51px;
}
/**
 Improved .sr-only class by ffoodd: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.slick-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
/*===========================
  Pause/play icon button
============================*/
.slick-autoplay-toggle-button {
  position: absolute;
  left: 5px;
  bottom: -32px;
  z-index: 10;
  opacity: 0.75;
  background: none;
  border: 0;
  cursor: pointer;
  color: #000000;
}
.slick-autoplay-toggle-button:hover,
.slick-autoplay-toggle-button:focus {
  opacity: 1;
}
.slick-autoplay-toggle-button:focus {
  color: orange;
}
.slick-autoplay-toggle-button .slick-pause-icon:before {
  content: "\23f8";
  width: 20px;
  height: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.slick-autoplay-toggle-button .slick-play-icon:before {
  content: "\25b6";
  width: 20px;
  height: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:700,800,900');
.hub-news {
  border-top: 1px solid #525252;
  border-bottom: 1px solid #525252;
  margin-top: 80px;
}
#cod-hub-news {
  width: 100%;
  margin: 0 auto;
}
#cod-hub-news .latest-news {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
}
#cod-hub-news .latest-news .news-content {
  padding-bottom: 20px;
}
#cod-hub-news .latest-news .news-header {
  border-bottom: 1px solid #525252;
  padding: 10px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#cod-hub-news .latest-news .news-header .news-inner-header {
  padding: 0 4%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
}
#cod-hub-news .latest-news .news-header .news-header-title h2 {
  color: #FFF;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.5;
}
#cod-hub-news .latest-news .news-header .news-header-filter div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#cod-hub-news .latest-news .news-header .news-header-filter div p {
  color: #FFF;
  font-size: 13px;
}
#cod-hub-news .latest-news .news-header .news-header-filter div .view-all-cta {
  color: #000;
  background: #FFF;
  padding: 5px;
  text-transform: none;
  text-decoration: none;
  font-size: 13px;
  margin-left: 10px;
}
#cod-hub-news .latest-news .news-header .news-header-filter div button {
  margin-left: 10px;
  cursor: pointer;
  color: #a9a6a1;
  border: none;
  background-color: transparent;
  background-image: url(../images/tout-icons-new.png);
  background-repeat: no-repeat;
  text-indent: 500px;
  overflow: hidden;
  /* old WZ logo
                        &[data-game='warzone'] {
                            .size(23px, 17px);
                            background-position: 0 0;
                            background-size: contain;
                            background-image: url("https://imgs.callofduty.com@{logoWZ}");
                        }*/
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='all'] {
  background-image: none;
  text-indent: 0;
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='mw2'] {
  width: 34px;
  height: 10px;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../fonts/mw2-icon-dual-light.svg");
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='vanguard'] {
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../fonts/vg-icon-white.svg");
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='warzone-mobile'] {
  width: 28px;
  height: 15px;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/Call-of-Duty_WZM_White_Transparent.png");
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='black-ops-cold-war'] {
  width: 28px;
  height: 11px;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/cw-icon.png");
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='warzone'] {
  width: 30px;
  height: 15px;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/wz2-icon.png");
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='mw'] {
  width: 38px;
  height: 11px;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../fonts/mw2-icon-dual-light.svg");
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='bo4'] {
  width: 27px;
  height: 26px;
  background-position: -536px 2px;
  margin-left: 4px;
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='cod-mobile'] {
  width: 18px;
  height: 21px;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/cod-m-icon.png");
  margin-left: 9px;
}
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='cwl'],
#cod-hub-news .latest-news .news-header .news-header-filter div button[data-game='cdl'] {
  width: 36px;
  height: 24px;
  background-image: url("../images/cdl-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  text-indent: unset;
  position: relative;
  top: 7px;
}
#cod-hub-news .latest-news .news-content::-webkit-scrollbar {
  width: 6px;
}
#cod-hub-news .latest-news .news-content::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #202020;
  background-color: #202020;
}
#cod-hub-news .latest-news .news-content::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #444444;
}
#cod-hub-news .latest-news .news-content::-webkit-scrollbar-thumb:window-inactive {
  background: #444444;
}
@media only screen and (max-width: 768px) {
  #cod-hub-news .latest-news .news-content {
    max-height: 400px;
    overflow: auto;
  }
}
#cod-hub-news .latest-news .slick-slide {
  margin: 0 15px;
}
#cod-hub-news .latest-news .slick-slider .slick-list {
  width: 95%;
  margin: 0 auto;
}
#cod-hub-news .latest-news .slick-slider .slick-next,
#cod-hub-news .latest-news .slick-slider .slick-prev {
  z-index: 5;
}
#cod-hub-news .latest-news .slick-slider .slick-next:before,
#cod-hub-news .latest-news .slick-slider .slick-prev:before {
  display: none;
}
#cod-hub-news .latest-news .slick-slider .slick-next {
  background: url(../images/vg-arrow-right.png) center center no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  right: 0px;
}
#cod-hub-news .latest-news .slick-slider .slick-next .slick-next-icon:before {
  background: none;
}
#cod-hub-news .latest-news .slick-slider .slick-prev {
  background: url(../images/vg-arrow-left.png) center center no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  left: 0px;
}
#cod-hub-news .latest-news .slick-slider .slick-prev .slick-prev-icon:before {
  background: none;
}
#cod-hub-news .latest-news .news-entry {
  width: 250px;
  margin: 0 3%;
}
#cod-hub-news .latest-news .news-entry a {
  color: #FFF;
  text-decoration: none;
}
#cod-hub-news .latest-news .news-entry .news-text .news-thumb {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
#cod-hub-news .latest-news .news-entry .news-text .news-thumb:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#cod-hub-news .latest-news .news-entry .news-text .news-thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center center;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
#cod-hub-news .latest-news .news-entry .news-text .news-thumb:after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
#cod-hub-news .latest-news .news-entry .news-text .news-title {
  font-size: 15px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  #cod-hub-news .latest-news {
    min-height: 500px;
  }
  #cod-hub-news .latest-news .news-header .news-inner-header {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #cod-hub-news .latest-news .news-header .news-header-title {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
  #cod-hub-news .latest-news .news-header .news-header-title h2 {
    font-size: 23px;
  }
  #cod-hub-news .latest-news .news-header .news-header-filter {
    width: 100%;
    padding: 5px 0;
  }
  #cod-hub-news .latest-news .news-header .news-header-filter > div {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  #cod-hub-news .latest-news .news-entry {
    width: 90%;
    margin: 0 auto;
  }
  #cod-hub-news .latest-news .news-entry .news-text {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
  }
  #cod-hub-news .latest-news .news-entry .news-text .news-thumb {
    width: 40%;
  }
  #cod-hub-news .latest-news .news-entry .news-text .news-title {
    width: 55%;
  }
}
html:lang(ar) .latest-news .slick-next {
  right: 0 !important;
  left: auto !important;
}
html:lang(ar) .latest-news .slick-prev {
  left: 0 !important;
  right: auto !important;
}

/*********************
MIXINS
**********************/
/*********************
END MIXINS
*********************/
body {
  background-color: #000 !important;
  overflow-x: hidden;
  /*&.with-sso-bar {	
   		margin-top: 53px !important;
    }*/
}
body > .root > .aem-Grid .wtb-component {
  /*display: none;*/
  /* Temp */
}
body > .root > .aem-Grid .hub-legal-lines {
  width: 80%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ADABAB;
  margin: 0 0 30px 0;
  line-height: 1.5;
  margin: 20px auto;
}
body > .root > .aem-Grid .hub-legal-lines p {
  margin-bottom: 30px;
}
body > .root > .aem-Grid #bo4-wtb {
  padding-top: 100px;
}
@media screen and (min-width: 1024px) {
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper {
    width: 80%;
    max-width: 1280px;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-title {
    margin: 0px;
    text-align: left;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-subtitle {
    margin: 15px 0 20px;
    text-align: left;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-container .buy-header-desc.float-left,
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-container .buy-header-desc.float-right {
    width: 100%;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header-container .buy-header-desc.float-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-header {
    order: 3;
    width: 30%;
    min-width: 30%;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-column-one {
    order: 1;
    width: 30%;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .buy-column-two {
    order: 2;
    width: 30%;
  }
  body > .root > .aem-Grid #bo4-wtb .buy-wrapper .disclaimer-text-container {
    order: 3;
  }
}
body > .root > .aem-Grid > .modal-overlay {
  transition: all .8s !important;
}
body > .root > .aem-Grid > .modal-overlay .modal-content .player-part .player-wrapper {
  padding-bottom: 45%;
}
/*.cod-header-container {
	
    .cod-purchase {

        .gold-cta();

        a {
			padding: 0 !important;
            line-height: 1.4 !important;
        }
    }
}*/
/*.modal-overlay {

    opacity: 0;
    position: fixed !important;
    top: 0;
    left: 0;
    .size(100%,100vh);
    z-index: 10000;
    background: #000;
    cursor: default;
    .translate(0,-100%);
    .transition(all .8s);

    &.active {
        .translate(0,0);
        opacity: 1;
        
        &:before {
            content:"";
            display: none;
        }
    }
    
    .inner-modal {
        //width: 100%;
        .square(100%);
        position: absolute;
        top: 0;
        left: 0;
        //top: 50%;
        //left: 50%;
        //.translate(-50%,-50%);
    }
    
    &:before {
        content: "";
        display: block;
        .fill-parent();
        z-index: 20;
    }
    
    .modal-close {
        font-family: sans-serif;
        font-size: 90px;
        position: absolute;
        top: 20px;
        right: 20px;
        .rotate(-45deg);
        color: #FFF;
        cursor: pointer;
        z-index: 10; 
        display: block;
    }
    
    .modal-content {
        position: relative;
        z-index: 9;
        
        .video-content {
            
        }
    }
    
    .external-link-overlay {
        display: none;
    }
    
}*/
.atvi-video .atvi-agegate,
.atvi-video-component .atvi-agegate {
  background: #000;
}
.atvi-video .atvi-agegate h2.dob-prompt,
.atvi-video-component .atvi-agegate h2.dob-prompt {
  color: #FFF;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.atvi-video .atvi-agegate .submit,
.atvi-video-component .atvi-agegate .submit {
  background-color: #FFF;
  color: #000;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
/*.modal-content {

    .fill-parent();
    position: absolute !important;

    .atvi-video {
		.fill-parent();

        .player-wrapper {
			position: absolute;
            top: 50%;
            left: 50%;
            .translate(-50%, -50%);
        }
    }


}

.root, .wtb-portal-container {
	overflow: hidden;
}*/
#reveal-legal {
  width: 80%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ADABAB;
  margin: 0 0 30px 0;
  line-height: 1.5;
  margin: 20px auto;
}
#reveal-legal a {
  color: #cdc4bd;
}
.wtb-component .atvi-wheretobuy:not(#mw-wtb-module || #vanguard-wtb-module) {
  margin: 0 auto 100px;
  padding-top: 50px;
}
@media screen and (min-width: 1024px) {
  .wtb-component .atvi-wheretobuy:not(#mw-wtb-module || #vanguard-wtb-module) {
    padding-top: 100px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Arvo|Electrolize|Montserrat|Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:700,800,900');
body:not(.coral--light) div.wtb-portal-container {
  position: relative;
  min-height: 0;
}
body:not(.coral--light) div.wtb-portal-container:not(.modal-mode) {
  z-index: 0;
}
body:not(.coral--light) div.wtb-portal-container .wtb-portal-master-screens-container {
  height: auto;
}
body:not(.coral--light) div.wtb-portal-container .portal-screen-container {
  position: absolute;
  height: auto;
}
body:not(.coral--light) div.wtb-portal-container .portal-screen-container.active-portal-screen {
  left: 0;
  overflow: hidden;
}
body:not(.coral--light) div.wtb-portal-container .portal-screen-container.exiting-screen {
  left: -100vw;
}
body:not(.coral--light) div.wtb-portal-container .close-button-container {
  display: none;
}
@media screen and (max-width: 1023.5px) {
  body:not(.coral--light) div.wtb-portal-container {
    height: 1500px;
  }
}
@media screen and (max-width: 480px) {
  body:not(.coral--light) div.wtb-portal-container {
    height: 870px;
  }
}
@media screen and (min-width: 1024px) {
  body:not(.coral--light) div.wtb-portal-container {
    height: 720px;
  }
  body:not(.coral--light) div.wtb-portal-container[data-current-screen="1"][data-current-path="vanguard"] {
    height: 920px;
  }
  body:not(.coral--light) div.wtb-portal-container[data-current-screen="1"][data-current-path="cold-war"] {
    height: 920px;
  }
}
@media screen and (min-width: 1025px) {
  .portal-screen-container .platform-logo-image-container .svg-element.steam img {
    width: 35% !important;
  }
  .portal-screen-container .platform-logo-image-container .svg-element.pc img {
    width: 75% !important;
  }
}
@media screen and (max-width: 1024px) {
  .portal-screen-container .platform-logo-image-container .svg-element.steam img {
    width: 20% !important;
  }
  .portal-screen-container .platform-logo-image-container .svg-element.pc img {
    width: 50% !important;
  }
}
.portal-screen-container.modernwarfare2.active-portal-screen.bundle-selection .disclaimers-container p {
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .portal-screen-container.modernwarfare2.active-portal-screen.bundle-selection #steam-bundle-disclaimer a {
    color: #FFF;
  }
  .portal-screen-container.modernwarfare2.active-portal-screen.bundle-selection #steam-bundle-disclaimer p {
    margin-bottom: 15px;
  }
  .portal-screen-container.modernwarfare2.active-portal-screen.bundle-selection #mw2-wtb-module[data-current-platform='steam'] .additional-content-container > .inner {
    display: block;
  }
  .portal-screen-container.modernwarfare2.active-portal-screen.bundle-selection #mw2-wtb-module[data-current-platform='steam'] .additional-content-container > .inner .user-controls-container {
    float: right;
  }
}

